.a{
  background: url('../img/icon-mid-0.png');
  width: 110px;
  height: 110px;
}

.b{
  background: url('../img/icon-mid-1.png');
  width: 95px;
  height: 117px;
}

.c{
  background: url('../img/icon-mid-2.png');
  width: 89px;
  height: 117px
}
.d{
  background: url('../img/data-banner-1.jpg');
  width: 289px;
  height: 117px
}